@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 240 4% 9%;
    --foreground: 0 0% 100%;

    --card: 240 4% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 240 4% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 247 50% 62%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 4% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 247 50% 62%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 247 50% 62%;

    --radius: 0.5rem;

    --sidebar-background: 240 4% 6%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 247 50% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 247 50% 62%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 4% 12%;
    --sidebar-ring: 247 50% 62%;
    
    --link: 247 75% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
